.navigation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.navigation-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px; 
}

.nav-link {
  text-decoration: none;
}

.center-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  flex-grow: 1; 
}

.right-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end; 
}

.login-button,
.back-button,
.about-button,
.transactions-button,
.dashboard-button,
.logout-button {
  color: #000;
  margin: 0 10px; 
}

